.client-list{
    display: flex;
   
    
}
.client-list__item{
    margin-right: 30px;

    &:last-child{
        margin-right: 0;
    }

}

.client-list__link{
    @include centeredFlex ();
     width: 170px;
     height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    
    @include transition(border);

    &:hover, &:focus{
        border: 1px solid var(--third-color); 
    }
}
.client-list__icon{
    fill: #AFB1B8;
    @include transition (fill);

    .client-list__link:hover &,
    .client-list__link:focus &{
        fill: var(--third-color); 
    }
}

